{% load static %}
{% for workarea in workareas %}
<div class="workareaListworkarea">
    <div class="workareaListworkarea__header">
      <a href="{% url 'user-profile' workarea.incharge.user_id %}" class="workareaListworkarea__author">
        <div class="avatar avatar--small active">
          <img src="{% static 'images/avatar.svg' %}" />
        </div>
        <span>Incharge {{workarea.incharge.first_name}} </span>
        <br>
      </a>
      <div class="workareaListworkarea__actions">
        <span>{{workarea.created|timesince}} ago</span>
      </div>
    </div>
    <div class="workareaListworkarea__content">
      <a href="{% url 'workarea' workarea.pk %}">{{workarea.name}}</a>
     
    </div>
    <div class="workareaListworkarea__meta">
      <a href="{% url 'workarea' workarea.pk %}" class="workareaListworkarea__joined">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>workers-group</title>
          <path
            d="M30.539 20.766c-2.69-1.547-5.75-2.427-8.92-2.662 0.649 0.291 1.303 0.575 1.918 0.928 0.715 0.412 1.288 1.005 1.71 1.694 1.507 0.419 2.956 1.003 4.298 1.774 0.281 0.162 0.456 0.487 0.456 0.85v4.65h-4v2h5c0.553 0 1-0.447 1-1v-5.65c0-1.077-0.56-2.067-1.461-2.584z"
          ></path>
          <path
            d="M22.539 20.766c-6.295-3.619-14.783-3.619-21.078 0-0.901 0.519-1.461 1.508-1.461 2.584v5.65c0 0.553 0.447 1 1 1h22c0.553 0 1-0.447 1-1v-5.651c0-1.075-0.56-2.064-1.461-2.583zM22 28h-20v-4.65c0-0.362 0.175-0.688 0.457-0.85 5.691-3.271 13.394-3.271 19.086 0 0.282 0.162 0.457 0.487 0.457 0.849v4.651z"
          ></path>
          <path
            d="M19.502 4.047c0.166-0.017 0.33-0.047 0.498-0.047 2.757 0 5 2.243 5 5s-2.243 5-5 5c-0.168 0-0.332-0.030-0.498-0.047-0.424 0.641-0.944 1.204-1.513 1.716 0.651 0.201 1.323 0.331 2.011 0.331 3.859 0 7-3.141 7-7s-3.141-7-7-7c-0.688 0-1.36 0.131-2.011 0.331 0.57 0.512 1.089 1.075 1.513 1.716z"
          ></path>
          <path
            d="M12 16c3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.859 0-7 3.141-7 7s3.141 7 7 7zM12 4c2.757 0 5 2.243 5 5s-2.243 5-5 5-5-2.243-5-5c0-2.757 2.243-5 5-5z"
          ></path>
        </svg>
        {{workarea.members.all.count}}    Joined
      </a>
      <a href="">
        {% if request.user  in workarea.members.all %}
        {% if check_in  %}
        <form action="" method="post">
          {% csrf_token %}
          <input type="text" style="display: none;" name="check_in" value="{{check_in}}-{{workarea.id}}">
          <button type="submit"  class="btn btn-success btn-round-1" > 
            <title>Check In</title>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-check" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
            </svg>
            <span>checkin </span>
          </button>
        </form>
     
        
        {% else %}
        <form action="" method="post">
          {% csrf_token %}
          <input style="display: none;" type="text" name="check_in" value="{{check_in}}-{{workarea.id}}">
          <button type="submit" style="width: 10px;" class="btn btn-warning btn-round-1">
             <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
          </svg>
          <p>check out</p>
        </button>
        </form>
        {% endif %}
     {% endif %}
      </a>
      <p class="workareaListworkarea__topic">{{workarea.job.job_title}}</p>
    </div>
  </div>

  {% endfor %}