<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="{% static 'styles/style.css' %}">
	<link rel="stylesheet" href="{% static 'styles/style_old.css' %}">
	<style>
		.warning{
			font-weight: bolder;
			color: #cc3300;
			font-size: larger;
			font-style: italic;
		}
		.success{
			color: rgb(9, 117, 34);
			font-weight: bolder;
			font-size: larger;
			font-style: italic;
		}
	</style>

	<title>UON | WORKSTUDY</title>
</head>
<body>

    {% include "sidebar.html" %}
	<!-- CONTENT -->
<section id="content">
         {% include "navbar.html" %}
		<!-- MAIN -->
		<main>
			<!--Header -->
			<div class="head-title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>

					
					</ul>
				</div>
				{% if request.user.is_authenticated %}
				<a href="{% url 'user-profile' request.user.user_id %}" class="btn-download">
					<!-- <i class='bx bxs-cloud-download' ></i> -->
					<span class="text">{{user}}</span>
				</a>
				{% else %}
				<a href="#" class="btn-download">
					<!-- <i class='bx bxs-cloud-download' ></i> -->
					<span class="text">{{user}}</span>
				</a>
				{% endif %}
				
			
			</div>
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
					{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
					{{ message }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% block content %}
		{% endblock %}
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="{% static 'js/script.js' %}"></script>
	<script src="{% static 'js/script_old.js' %}"></script> 
</body>
</html>